extends ../layouts/default

block styles

block content
  //- section
  //-   .container
  //-     if (criteria['endereco.cidade'])
  //-       h4= criteria['endereco.cidade']
  //-     if (criteria.categorias)
  //-       each c in cat_criteria
  //-         p= c.title
  //-     if (criteria.$text)
  //-       p= criteria.$text.$search
  section.categoriasinterna(style='margin-top: 0;')
    .container
      .row
        .vermais3.vejaMais.pink-text.text-lighten-2(data-destino='nexibir')
          span.palavraUsada  Categorias
        each cat in categorias
          if (!cat.mae && !cat.selo || criteria.categorias && cat.mae && cat.mae._id === criteria.categorias.$in[0])
            .col.s12.m2.l2.ol
              form(method='post', action='/servicos/busca')
                input(type='hidden', name='_csrf', value=_csrf)
                if (criteria.$text)
                  input(type='hidden', name='text', value=criteria.$text.$search)
                if (criteria['endereco.cidade'])
                  input(type='hidden', name='cidade', value=criteria['endereco.cidade'])
                input(type='hidden', name='categoria', value=(cat._id))
                - var cla = ''
                if (criteria.categorias && JSON.stringify(cat._id) === JSON.stringify(criteria.categorias.$in[0]))
                  - cla ='publicarNegocio'
                .boxCifrao.widthtotal(class=cla)
                  button(style='background: none; border: none;')
                    | #{cat.title}
      .row
        .vermais3.vejaMais.pink-text.text-lighten-2(data-destino='nexibir')
          span.palavraUsada  Impacto
        each cat in categorias
          if (cat.selo && cat.mae)
            .col.s12.m2.l2.ol
              form(method='post', action='/servicos/busca')
                input(type='hidden', name='_csrf', value=_csrf)
                if (criteria.$text)
                  input(type='hidden', name='text', value=criteria.$text.$search)
                if (criteria['endereco.cidade'])
                  input(type='hidden', name='cidade', value=criteria['endereco.cidade'])
                input(type='hidden', name='categoria', value=(cat._id))
                - var cla = ''
                if (criteria.categorias && JSON.stringify(cat._id) === JSON.stringify(criteria.categorias.$in[0]))
                  - cla ='publicarNegocio'
                .boxCifrao.widthtotal(class=cla)
                  button(style='background: none; border: none;')
                    | #{cat.title}
      .row
        .col.s12.m2.l2.ol
          .boxCifrao
            | $
          .boxCifrao
            | $$
          .boxCifrao
            | $$$
          .boxCifrao
            | $$$$
        .col.s12.m2.l2.ol
          .boxCifrao.widthtotal
            i.tiny.material-icons query_builder
            |  Aberto agora
        .col.s12.m2.l2.ol
          .boxCifrao.widthtotal
            i.tiny.material-icons tune
            |  Todos os filtros
        .col.s12.m2.l2.ol
          .publicarNegocio
            | Publicar Negócio
        .col.s12.m4.l4.ol.naoachou
          a(href='#')
            | Não achou o que procurava?
            br
            | Publique seu negócio favorito!
  section.resultadoBusca
    .container
      .row
        .col.s12.m8.l8.ol
          if (criteria.$text)
            h4 Busca: #{criteria.$text.$search}
          .row
            each serv in servicos
              // loop resultado
              .resultados
                .col.s2
                  a(href='/servico/' + serv.urlized)
                    if (serv.avatar.img)
                      img.responsive-img(src=serv.avatar.img)
                    else
                      img.responsive-img(src='/img/avatar-default.png')
                  // notice the "circle" class
                .col.s5
                  h2
                    a(href='/servico/' + serv.urlized)= serv.title
                  | #{serv.body}
                  .preco
                    each cat, index in serv.categorias
                      if (!cat.selo)
                        if (serv.categorias.length - 1 === index)
                          | #{cat.title}
                        else
                          | #{cat.title},
                  .row(style='margin-bottom: 0; margin-top: 10px;')
                    each selo, index in serv.categorias
                      if (selo.selo)
                        .col.s4.m2.l2(style='padding: 0 .5rem;')
                          a.selo(href='')
                            img.circle.responsive-img.tooltipped(data-position='bottom', data-delay='50', data-tooltip=selo.title, src=selo.img)
                .col.s5
                  strong #{serv.endereco.cidade} - #{serv.endereco.estado}
                  if (serv.endereco.existe)
                    br
                    | 	#{serv.endereco.rua}, #{serv.endereco.numero}
                  if (serv.telefone)
                    br
                    | 	#{serv.telefone}
                  if (serv.site)
                    br
                    a(href=serv.site, target='_blank') #{serv.site}
              // fim loop resultado
          .vermais2.vejaMais.pink-text.text-lighten-2(data-destino='nexibir')
            span.palavraUsada
              i.material-icons keyboard_arrow_down
              |   Mostrar
            |  atividades: Rio de Janeiro
        .col.s12.m4.l4.ol
          .sobremapa
            i.material-icons.tuny keyboard_arrow_left
            |  Ampliar mapa
          iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3674.9935306419634!2d-43.22667758967284!3d-22.913609461656378!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57e29a9a877d57e7!2sInstituto+Senai+de+Tecnologia+Ambiental!5e0!3m2!1spt-BR!2sbr!4v1497834740127', width='100%', height='305', frameborder='0', style='border:0', allowfullscreen='')


block scripts