extends ../layouts/default

block styles
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css')
  style(type='text/css').
    .fotoProduto .material-placeholder {
      height: 400px;
    }
    .fotoProduto img {
      height: 100%;
      width: auto;
    }
    .fotoProduto a {
      color: white;
      font-weight: 900;
      font-size: 15px;
      text-shadow: 2px 2px 2px black;
    }
    .fotoProduto .left-align a {
      margin-left: 10px;
    }
    .fotoProduto .right-align a {
      margin-right: 10px;
    }

    .fotoProduto .carousel.carousel-slider.center {
      height: 400px !important;
    }

    .fotoProduto span {
      background-color: transparent !important;
    }

    .dadosComercio .collection {
      z-index: -1;
    }

    .carousel-item.active.aberto {
      z-index: 1 !important;
    }
    .image_place img {
      width: 100% !important;
      height: auto;
      border: 5px solid white;
    }
    .carroca img {
      width: calc(50% - 10px) !important;
      height: auto;
      margin: 5px;
      border: 5px solid white;
    }
    .carousel .indicators .indicator-item {
      margin: 40px 4px !important;
    }
    .upload-image {
      top: -32px;
      width: 100%;
      margin: 0;
    }
    .upload-image .btn{
      width: 100%;
      padding: 0 30px;
      margin-left: 0 !important;
      border-top: 1px solid gainsboro;
      border-radius: 0 0 5px 5px;
    }
    .upload-image span{
      font-size: 17px !important;
      margin-top: 0px !important;
      color: #3fa084 !important;
      font-weight: 900 !important;
    }
    .upload-image i.material-icons {
      font-size: 40px !important;
      float: left !important;
      color: #3fa084 !important;
    }
    .character-counter {
      margin: 0 !important;
    }
    img.avatar {
      height: 100%;
      width: auto;
    }
    .avatar-wrapper {
      position: relative !important;
      height: 180px;
      overflow: hidden;
      padding: 0 !important;
      margin-top: 20px;
      border: 0.5rem solid white;
    }
    .avatar-wrapper .file-field.input-field {
      position: absolute;
      bottom: 13px;
      left: 20px;
    }
    .avatar-wrapper .btn {
      margin-left: 0 !important;
      height: 36px !important;
      padding: 0 12px;
      position: relative;
      line-height: 2.5rem !important;
    }
    .avatar-wrapper .material-icons {
      font-size: 1rem;
    }
    .avatar-wrapper input#image-avatar {
      width: 100%;
      height: 36px;
    }
    .avatar-wrapper #avatar-backdrop {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 9999999;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
      display: none;
    }
    .avatar-wrapper.edit #avatar-backdrop {
      display: inherit;
    }
    .avatar-wrapper.edit img.avatar {
      z-index: 99999999999999999999999999999999999999999;
      position: relative;
    }

    .btnDecoracao {
      min-height: 50px !important;
    }
    .btnDecoracao .file-field {
      margin: 0;
    }
    .btnDecoracao .btn.btnacoes {
      margin-left: 0 !important;
      height: 36px;
      padding: 0 1rem;
      position: relative;
      line-height: 2.4rem;
      width: 100%;
    }
    .btnDecoracao .btn.btnacoes i {
      width: 20px !important;
      font-size: 1.5rem !important;
    }

block content
  section.reinvindicacao
    .container
      .row
        //- .col.s12.breadcrumb
        //-   a(href='#!')
        //-     i.pink-text.material-icons home
        //-   a(href='#!')=servico.title
        //-   i.material-icons navigate_next
        //-   a(href='#!') Fotos e vídeos
        .col.s12.m9.l9
          .row
            .col.s3.m3.l3.avatar-wrapper.z-depth-1(style='position: relative;')
              #avatar-wrapper.avatar-wrapper(style='margin-top: 0; border: none;')
                img#avatar.avatar(src='/img/avatar-default.png')
              #avatar-backdrop
              form#avatar-form(action='/servico/' + servico.urlized + '/avatar', method='POST', enctype='multipart/form-data')
                input(type='hidden', value='0%', name='offset')
                .file-field.input-field
                  .btn.pink.lighten-2(style='')
                    i.material-icons.left.white-text add_a_photo
                    if (device)
                      input#image-avatar(type='file', name='photos', style='', accept='image/*', capture='camera')
                    else
                      input#image-avatar(type='file', name='photos', style='')
                  .file-path-wrapper(style='display: none;')
                    input.file-path.validate(type='text', placeholder='Upload one or more files')
            .col.s9.m9.l9
              .row
                .col.s12.m12.l12
                  h1.subtitles(style='margin-bottom: 0;')=servico.title
                  span.reinvindicando(style='margin-top: 0;')
                    i.material-icons.tiny help
                    | Não reivindicada
                .col.s12.m12.l12
                  each categoria, index in servico.categorias
                    - var coma = ','
                    - if (servico.categorias.length === index + 1) { coma = '' }
                    - if (categoria !== 'endereco.existe')
                      a(href='#') #{categoria.title}
                      | #{coma}
                .col.s12.m12.l12
                  a(href='/servico/'+servico.urlized+'/edit')
                    i.material-icons edit
                    | Editar informações
            
        .col.s12.m3.l3
          .row
            .col.s12.m12.l12(style='text-align: center; padding-top: 20px;')
              a#avaliar.pink.lighten-2.btnreinvindicar(style='margin-bottom:10px;')
                i.material-icons.white-text star_rate
                | Escrever uma Avaliação
              if (avaliacoes.length > 1)
                strong #{avaliacoes.length} avaliações 
              else if (avaliacoes.length === 1)
                strong #{avaliacoes.length} avaliação
              else
                strong Nenhuma avaliação
            .col.s6.m6.l6(style='margin-top:10px;text-align: center;font-size:11px;')
              | Impacto Social
              #rate_heart(style='padding:0 2px;')
              strong(style='font-size:20px;') #{soc | 0}
            .col.s6.m6.l6(style='margin-top:10px;text-align: center;font-size:11px;')
              | Impacto Ambiental
              #rate_leaf(style='padding:0 2px;')
              strong(style='font-size:20px; color: #7fbd61 !important;') #{amb | 0}

  #modal-avaliar.modal.bottom-sheet(style='max-height: 100%;')
    form#avaliar-form(method='POST', action='/servico/' + servico.urlized + '/avaliar', enctype='multipart/form-data')
      input#urlized(type='hidden', name='urlized', value=servico.urlized)
      .modal-content
        .container
          h4 Escrever uma avaliação
          .row
            .col.s12.m6.l6
              .row
                .col.s12.m12.l12
                  h5 Impacto Social 
                    strong#nota_soc(style='font-size: 40px; margin-left: 10px; color: #c83579 !important;') 3
                  p(style='margin-top:0; margin-bottom: 20px;') De uma graduação para o impacto social desse negócio
                .col.s12.m12.l12
                  input#avaliar-heart-input(type='hidden', name='avaliar_heart', value='3')
                  #avaliar-heart
              .row
                .col.s12.m12.l12
                  h5 Impacto Ambiental 
                    strong#nota_amb(style='font-size: 40px; margin-left: 10px; color: #7fbd61 !important;') 3
                  p(style='margin-top:0; margin-bottom: 20px;') De uma graduação para o impacto ambiental desse negócio
                .col.s12.m12.l12
                  input#avaliar-leaf-input(type='hidden', name='avaliar_leaf', value='3')
                  #avaliar-leaf
              .row
                .col.s12.m12.l12
                  #carroca-avaliar.carroca

              .file-field.input-field.upload-image
                .btn.pink.lighten-2(style='margin-left: 0 !important; background-color: rgb(232, 232, 232) !important;')
                  span
                    i.material-icons.white-text camera
                    | Inserir Fotos
                  if (device)
                    input#image-input(type='file', multiple='multiple', name='photos', style='width: 100%; height: 50px;', accept='image/*', capture='camera')
                  else
                    input#image-input(type='file', multiple='', name='photos', style='width: 100%; height: 50px;')
                .file-path-wrapper(style='display: none;')
                  input.file-path.validate(type='text', placeholder='Upload one or more files')
            .col.s12.m6.l6
              .row
                .col.s12.m12.l12
                  h5 Descreva sua experiência
                  .file-field.input-field
                    textarea#descreva.materialize-textarea(placeholder='DESCRIÇÃO', name='body', required)
                    label(for='descreva')
      .modal-footer
        .container
          button#avaliar-enviar.btmodal-action.waves-effect.waves-green.btn.left Enviar
          a.btmodal-action.modal-close.waves-effect.waves-green.btn.right Cancelar

  .linhapontilhada
  section.btnDecoracao
    .container
      .row
        .col.s12.m8.l8
          .row
            .col.s12.m4.l4
              form#foto-form(action='/servico/' + servico.urlized + '/upload', method='POST', enctype='multipart/form-data')
                .file-field.input-field
                  .btn.btnacoes.pink.lighten-2(style='')
                    i.material-icons.left.white-text add_a_photo
                    | Adicionar Fotos
                    if (device)
                      input#image(type='file', multiple='multiple', name='photos', style='width: 100%; height: 36px;', accept='image/*', capture='camera')
                    else
                      input#image(type='file', multiple='', name='photos', style='width: 100%; height: 36px;')
                  .file-path-wrapper(style='display: none;')
                    input.file-path.validate(type='text', placeholder='Upload one or more files')
              //- a.btn.btnacoes.pink.lighten-2(href='#modal-foto')
              //-   i.material-icons.left add_a_photo
              //-   | Adicionar Foto
            .col.s12.m4.l4
              a.btn.btnacoes.pink.lighten-2(href='#')
                i.material-icons.left redo
                | Compartilhar
            .col.s12.m4.l4
              a.btn.btnacoes.pink.lighten-2(href='#')
                i.material-icons.left star_rate
                | Favoritos
        .col.s12.m4.l4.left-align
          a.tt.pink-text.lighten-2.left-align(href='#')
            i.small.material-icons.left check_circle
            | Reivindicar esta empresa

  #modal-foto.modal.bottom-sheet(style='max-height: 100%;')
    .modal-content
      .container
        h4 Fotos a serem enviadas
        .row
          .col.s12.m12.l12
            #carroca.carroca
    .modal-footer
      .container
        a#foto-enviar.btmodal-action.waves-effect.waves-green.btn.left Enviar
        a.btmodal-action.modal-close.waves-effect.waves-green.btn.right Cancelar

  section.comercio
    .container
      .row
        .col.s12.m8.l8
          if (servico.fotos.length > 0)
            .fotoProduto(style='height: 400px;')
              .carousel.carousel-slider.center(data-indicators='true')
                if (servico.fotos.length > 1)
                  span.carousel-fixed-item.center(style='bottom: 0; height: 100%;')
                    #prev-wrap(style='position: absolute; height: 100%; padding: calc(36% - 50px) 0; left: 0;')
                      a(href='#')
                        i.material-icons(style='font-size: 50px;') chevron_left
                    #next-wrap(style='position: absolute; height: 100%; padding: calc(36% - 50px) 0; right: 0;')
                      a(href='#')
                        i.material-icons(style='font-size: 50px;') chevron_right
                span.carousel-fixed-item.center(style='bottom: 0; background-color: rgba(206, 206, 206, 0.69) !important;')
                  .row
                    .col.s6.m6.l6.left-align
                      a(href='#')
                        i.material-icons.tiny apps
                        |  Ver tudo
                    .col.s6.m6.l6.right-align
                      a(href='#')
                        i.material-icons.tiny share
                        |  Compartilhar
                each foto in servico.fotos
                  .carousel-item(style='height: 400px;')
                    img(src=foto)
          h5(style='text-align: center;') Avaliações
          .divider
          each ava in avaliacoes
            // loop resultado
            .resultados
              .col.s4.m4.l4
                if (ava.user.profile.picture)
                  img.responsive-img(src=ava.user.profile.picture, alt='')
                else
                  img.responsive-img(src='/img/avatar-default.png', alt='')
                // notice the "circle" class
                span
                  a(href='#') #{ava.user.profile.first_name.charAt(0).toUpperCase()}#{ava.user.profile.first_name.slice(1)} #{ava.user.profile.second_name.charAt(0).toUpperCase()}.
              .col.s8.m8.l8
                .row
                  .col.s12.m12.l12!= ava.body
                .row
                  .col.s12.m6.l6(style='margin-top:10px;text-align: center;font-size:11px;')
                    | Impacto Social
                    .jq-ry-container(style='padding: 0px 2px; width: 150px;', readonly='readonly')
                      .jq-ry-group-wrapper
                        .jq-ry-normal-group.jq-ry-group
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='gray')
                            path(d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='gray', style='margin-left: 0px;')
                            path(d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='gray', style='margin-left: 0px;')
                            path(d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='gray', style='margin-left: 0px;')
                            path(d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='gray', style='margin-left: 0px;')
                            path(d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z')
                        .jq-ry-rated-group.jq-ry-group(style='width: ' + (ava.soc * 100) / 5 + '%;')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='#c83579')
                            path(d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='#c83579', style='margin-left: 0px;')
                            path(d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='#c83579', style='margin-left: 0px;')
                            path(d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='#c83579', style='margin-left: 0px;')
                            path(d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='#c83579', style='margin-left: 0px;')
                            path(d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z')
                    
                  .col.s12.m6.l6(style='margin-top:10px;text-align: center;font-size:11px;')
                    | Impacto Ambiental
                    .jq-ry-container(style='padding: 0px 2px; width: 150px;', readonly='readonly')
                      .jq-ry-group-wrapper
                        .jq-ry-normal-group.jq-ry-group
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='gray')
                            path(d='M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='gray', style='margin-left: 0px;')
                            path(d='M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='gray', style='margin-left: 0px;')
                            path(d='M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='gray', style='margin-left: 0px;')
                            path(d='M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='gray', style='margin-left: 0px;')
                            path(d='M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z')
                        .jq-ry-rated-group.jq-ry-group(style='width: ' + (ava.amb * 100) / 5 + '%;')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='#7fbd61')
                            path(d='M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='#7fbd61', style='margin-left: 0px;')
                            path(d='M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='#7fbd61', style='margin-left: 0px;')
                            path(d='M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='#7fbd61', style='margin-left: 0px;')
                            path(d='M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z')
                          svg(xmlns='http://www.w3.org/2000/svg', width='30px', height='30px', viewbox='0 0 28 28', fill='#7fbd61', style='margin-left: 0px;')
                            path(d='M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z')


            // fim loop resultado
            if (avaliacoes.lenght > 10)
              section.resultadoBusca
                .container
                  .row
                    .col.s12.m8.l8.ol
                      .vermais2.vejaMais.pink-text.text-lighten-2(data-destino='nexibir')
                        span.palavraUsada
                          i.material-icons keyboard_arrow_down
                          |   Mostrar
                        |  atividades: Rio de Janeiro
                    .col.s12.m4.l4.ol
        .col.s12.m4.l4.dadosComercio
          - if (servico.endereco.estado && servico.endereco.cidade)
            span
              strong.pink-text.lighten-2 Local: 
              - if(servico.endereco.existe)
                | #{servico.endereco.rua}, #{servico.endereco.numero} #{servico.endereco.complemento}
                br
              | #{servico.endereco.estado}, #{servico.endereco.cidade}
          - if (servico.site)
            span
              strong.pink-text.lighten-2 Site: 
              - var local = 'http://'
              - if (servico.site.split('http').length > 1) { local = '' }
              a(href=local+servico.site, target='_blank') #{servico.site}
          - if (servico.email)
            span
              strong.pink-text.lighten-2 Email: 
              - if (device)
                a(href='mailto:'+servico.email) #{servico.email}
              - else
                | #{servico.email}
          - if (servico.telefone)
            span
              strong.pink-text.lighten-2 Telefone: 
              - if (device)
                a(href='tel:'+servico.telefone, target='_blank') #{servico.telefone}
              - else
                | #{servico.telefone}
          - if (servico.whatsapp)
            span
              strong.pink-text.lighten-2 Whatsapp: 
              - if (device)
                a(href='tel:'+servico.whatsapp, target='_blank') #{servico.site}
              - else
                | #{servico.whatsapp}
          - else
            span
              strong.pink-text.lighten-2 Whatsapp: 
              | Não informado
          span
            strong.pink-text.lighten-2 Horário de Funcionamento:
            .row(style='margin: 0;')
              .col.s4.m2.l2
                strong seg 
              .col.s8.m10.l10
                - if (servico.horarios.seg.aberto)
                  | #{servico.horarios.seg.hora_abre}:#{servico.horarios.seg.min_abre} às #{servico.horarios.seg.hora_fecha}:#{servico.horarios.seg.min_fecha}
                - else
                  strong(class='red-text') fechado
            .row(style='margin: 0;')
              .col.s4.m2.l2
                strong ter 
              .col.s8.m10.l10
                - if (servico.horarios.ter.aberto)
                  | #{servico.horarios.ter.hora_abre}:#{servico.horarios.ter.min_abre} às #{servico.horarios.ter.hora_fecha}:#{servico.horarios.ter.min_fecha}
                - else
                  strong(class='red-text') fechado
            .row(style='margin: 0;')
              .col.s4.m2.l2
                strong qua 
              .col.s8.m10.l10
                - if (servico.horarios.qua.aberto)
                  | #{servico.horarios.qua.hora_abre}:#{servico.horarios.qua.min_abre} às #{servico.horarios.qua.hora_fecha}:#{servico.horarios.qua.min_fecha}
                - else
                  strong(class='red-text') fechado
            .row(style='margin: 0;')
              .col.s4.m2.l2
                strong qui 
              .col.s8.m10.l10
                - if (servico.horarios.qui.aberto)
                  | #{servico.horarios.qui.hora_abre}:#{servico.horarios.qui.min_abre} às #{servico.horarios.qui.hora_fecha}:#{servico.horarios.qui.min_fecha}
                - else
                  strong(class='red-text') fechado
            .row(style='margin: 0;')
              .col.s4.m2.l2
                strong sex 
              .col.s8.m10.l10
                - if (servico.horarios.sex.aberto)
                  | #{servico.horarios.sex.hora_abre}:#{servico.horarios.sex.min_abre} às #{servico.horarios.sex.hora_fecha}:#{servico.horarios.sex.min_fecha}
                - else
                  strong(class='red-text') fechado
            .row(style='margin: 0;')
              .col.s4.m2.l2
                strong sab 
              .col.s8.m10.l10
                - if (servico.horarios.sab.aberto)
                  | #{servico.horarios.sab.hora_abre}:#{servico.horarios.sab.min_abre} às #{servico.horarios.sab.hora_fecha}:#{servico.horarios.sab.min_fecha}
                - else
                  strong(class='red-text') fechado
            .row(style='margin: 0;')
              .col.s4.m2.l2
                strong dom 
              .col.s8.m10.l10
                - if (servico.horarios.dom.aberto)
                  | #{servico.horarios.dom.hora_abre}:#{servico.horarios.dom.min_abre < 10 ? servico.horarios.dom.min_abre + '0' : servico.horarios.dom.min_abre} às #{servico.horarios.dom.hora_fecha}:#{servico.horarios.dom.min_fecha < 10 ? servico.horarios.dom.min_fecha + '0' : servico.horarios.dom.min_fecha}
                - else
                  strong(class='red-text') fechado
          span
            a(href='/servico/'+servico.urlized+'/edit')
              i.material-icons edit
              | Editar informações
          hr
          h2 EXPLORE SUA CIDADE
          ul.collection
            each categoria in categorias
              li.collection-item
                i.small.pink-text.lighten-2.material-icons.left mode_edit
                | #{categoria.title}
          .sobremapa
            i.material-icons.tuny keyboard_arrow_left
            |  Ampliar mapa
          iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3674.9935306419634!2d-43.22667758967284!3d-22.913609461656378!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57e29a9a877d57e7!2sInstituto+Senai+de+Tecnologia+Ambiental!5e0!3m2!1spt-BR!2sbr!4v1497834740127', width='100%', height='305', frameborder='0', style='border:0', allowfullscreen='')

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js')
  script(src='/js/lib/load-image.min.js')
  script(type='text/javascript').
    (function() {
      var ev = new $.Event('style'),
        orig = $.fn.css;
      $.fn.css = function() {
        $(this).trigger(ev);
        return orig.apply(this, arguments);
      }
    })();
  script(type='text/javascript').
    $(document).ready(function() {
      var car = $('.carousel.carousel-slider').carousel({fullWidth: true});
      var soc_med = '#{soc | 0}';
      var amb_med = '#{amb | 0}';
      soc_med = parseFloat(soc_med);
      amb_med = parseFloat(amb_med);
      $('#rate_heart').rateYo({
        ratedFill: '#c83579',
        starWidth: '20px',
        rating: soc_med,
        readOnly: true,
        starSvg: '<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"></path></svg>'
      });
      $('#rate_leaf').rateYo({
        ratedFill: '#7fbd61',
        starWidth: '20px',
        readOnly: true,
        rating: amb_med,
        starSvg: '<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><path d="M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z"></path></svg>'
      });

      $('#avaliar-heart').rateYo({
        ratedFill: '#c83579',
        starWidth: '40px',
        rating: 3,
        fullStar: true,
        starSvg: '<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"></path></svg>',
        onSet: function(rating) {
          $('#avaliar-heart-input').val(rating);
          $('#nota_soc').text(rating);
        }
      });
      $('#avaliar-leaf').rateYo({
        ratedFill: '#7fbd61',
        starWidth: '40px',
        rating: 3,
        fullStar: true,
        starSvg: '<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><path d="M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z"></path></svg>',
        onSet: function(rating) {
          $('#avaliar-leaf-input').val(rating);
          $('#nota_amb').text(rating);
        }
      });

      var carrosel = document.getElementById('carroca');
      document.getElementById('image').onchange = function (e) {
        carrosel.innerHTML = ""
        for (var i in e.target.files) {
          loadImage(
            e.target.files[i],
            function (img) {
              img.className = 'z-depth-1';
              carrosel.appendChild(img);
            },
            {maxWidth: 600} // Options
          );
        }
        $('#modal-foto').modal('open');
      };

      var carrosel_aval = document.getElementById('carroca-avaliar');
      document.getElementById('image-input').onchange = function (e) {
        carrosel_aval.innerHTML = ""
        for (var i in e.target.files) {
          loadImage(
            e.target.files[i],
            function (img) {
              img.className = 'z-depth-1';
              carrosel_aval.appendChild(img);
            },
            {maxWidth: 600} // Options
          );
        }
      };

      var avatar = document.getElementById('avatar-wrapper');
      document.getElementById('image-avatar').onchange = function (e) {
        avatar.innerHTML = ""
        for (var i in e.target.files) {
          loadImage(
            e.target.files[i],
            function (img) {
              img.className = 'z-depth-1 avatar';
              avatar.appendChild(img);
              editarAvatar();
            },
            {maxWidth: 600} // Options
          );
        }
      };

      function editarAvatar () {
        $('.avatar-wrapper').addClass('edit');
      } 

      $('#foto-enviar').on('click', function() {
        $('#foto-form').submit();
      })

      $('#prev-wrap a').on('click', function(e) {
        e.preventDefault();
        $('.carousel.carousel-slider').carousel('prev');
      })

      $('#next-wrap a').on('click', function(e) {
        e.preventDefault();
        $('.carousel.carousel-slider').carousel('next');
      })

      $('#avaliar').on('click', function(e) {
        e.preventDefault();
        $('#modal-avaliar').modal('open');
      })
    })