header
  nav.navegacao
    .nav-wrapper
      a.button-collapse.top-nav.full.hide-on-large-only(href='https://720kb.github.io/hubuntu-ui/#', data-activates='nav-mobile')
        i.mdi-navigation-menu
      span.brand-logo.page-title(href='#')
        img(src='/dashboard/logo.png', width='100')
      ul.right.hide-on-med-and-down
        li
          a.tooltipped(href='/', data-position='left', data-delay='50', data-tooltip='Voltar ao site', data-tooltip-id='0cf5c2d0-4de2-ef9e-167e-839fb6478775')
            i.material-icons exit_to_app
  ul#nav-mobile.side-nav.custom-side-nav.cor3.fixed.text-white(style='left: 0px;')
    li.navegacao
      .user
        .chip.login.white-text
          if user.profile.picture
            img(src=user.profile.picture)
          else
            img(src='/img/avatar-default.png')
          | #{user.profile.first_name.charAt(0).toUpperCase()}#{user.profile.first_name.slice(1)} #{user.profile.second_name.charAt(0).toUpperCase()}.
    - var dash_page
    if (title === 'Dashboard')
      - dash_page = 'active'
    else
      - dash_page = ''
    li(class=dash_page)
      a(href='/dash')
        i.material-icons.deep-orange-text airplay
        span Dashboard
    - var categ_page
    if (title === 'Categorias')
      - categ_page = 'active'
    else
      - categ_page = ''
    li(class=categ_page)
      a(href='/dash/categorias')
        i.material-icons clear_all
        |  Categorias
    - var user_page
    if (title === 'Users')
      - user_page = 'active'
    else
      - user_page = ''
    li(class=user_page)
      a(href='/dash/users')
        i.material-icons perm_identity
        |  Users
    - var servicos_page
    if (title === 'Serviços')
      - servicos_page = 'active'
    else
      - servicos_page = ''
    li(class=servicos_page)
      a(href='/dash/servicos')
        i.material-icons trending_up
        |  Serviços
    - var aval_page
    if (title === 'Avaliações')
      - aval_page = 'active'
    else
      - aval_page = ''
    li(class=aval_page)
      a(href='/dash/avaliacoes')
        i.material-icons layers
        |  Avaliações
    - var updates_page
    if (title === 'Updates')
      - updates_page = 'active'
    else
      - updates_page = ''
    li(class=updates_page)
      a(href='/dash/updates')
        i.material-icons storage
        |  Updates