extends ../layouts/admin

block styles
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css')
  link(rel='stylesheet', href='https://cdn.datatables.net/1.10.15/css/dataTables.material.min.css')
  style(type='text/css').
    .acao {
      width: 80px;
    }
    .btn-floating.btn-table {
      width: 30px;
      height: 30px;
      line-height: 30px;
      float: right;
      margin-right: 5px;
    }
    .btn-floating.btn-table i {
      line-height: 30px;
      font-size: 1rem;
    }

block content
  nav.nav-extended(style='background: #c83579;')
   .container
      .nav-content
        ul.tabs.tabs-transparent
          li.tab
            a(href='#categorias') Categorias
          li.tab
            a(href='#usuarios') Usuários
          li.tab
            a(href='#servicos') Serviços
          li.tab
            a(href='#avaliacoes') Avaliações
          li.tab
            a(href='#updates') Updates

  #categ_modal.modal.modal-fixed-footer
    form#nova-categ(action='/categoria/nova', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .modal-content
        h4 Nova Categoria
        br
        .row
          .col.s12.m12.l12
            label(for='categ_nome') Nome
            input#categ_nome(type='text', name='title')
          .col.s12.m12.l12
            label(for='categ_desc') Descriçao
            textarea#categ_desc.materialize-textarea(type='text', name='body')
      .modal-footer
        button.modal-action.modal-close.waves-effect.waves-green.btn.pink(type='submit') Criar Nova

  #categ_edit.modal.modal-fixed-footer
    form#edit-categ(action='/categoria/_id', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .modal-content
        h4#categ_title Categoria: X
        br
        .row
          .col.s12.m12.l12
            label(for='categ_nome_edit') Nome
            input#categ_nome_edit(type='text', name='title')
          .col.s12.m12.l12
            label(for='categ_desc_edit') Descriçao
            textarea#categ_desc_edit.materialize-textarea(type='text', name='body')
      .modal-footer
        button.modal-action.modal-close.waves-effect.waves-green.btn.pink(type='submit') Editar Categoria

  #categ_delete.modal.modal-fixed-footer
      .modal-content
        form#delete-categ(action='/categoria/_id', method='GET')
          input(type='hidden', name='_csrf', value=_csrf)
          h4#categ_title_del Categoria: X
          h6 Tem certeza que deseja deletar a categoria?
          .row
            .col.s12.m12.l12
              button.modal-action.waves-effect.waves-green.btn.red.left(type='submit', style='margin-left: 5px !important;') Deletar Categoria
      .modal-footer
        button.modal-action.modal-close.waves-effect.waves-green.btn.blue Cancelar

  #user_delete.modal.modal-fixed-footer
      .modal-content
        form#delete-user(action='/user/_id', method='GET')
          input(type='hidden', name='_csrf', value=_csrf)
          h4#user_title_del Usuário: X
          h6 Tem certeza que deseja deletar o usuario?
          .row
            .col.s12.m12.l12
              button.modal-action.waves-effect.waves-green.btn.red.left(type='submit', style='margin-left: 5px !important;') Deletar Usuário
      .modal-footer
        button.modal-action.modal-close.waves-effect.waves-green.btn.blue Cancelar

  #servico_delete.modal.modal-fixed-footer
      .modal-content
        form#delete-servico(action='/servico/_id', method='GET')
          input(type='hidden', name='_csrf', value=_csrf)
          h4#servico_title_del Servico: X
          h6 Tem certeza que deseja deletar o serviço?
          .row
            .col.s12.m12.l12
              button.modal-action.waves-effect.waves-green.btn.red.left(type='submit', style='margin-left: 5px !important;') Deletar Servico
      .modal-footer
        button.modal-action.modal-close.waves-effect.waves-green.btn.blue Cancelar

  #update_delete.modal.modal-fixed-footer
      .modal-content
        form#delete-update(action='/update/_id', method='GET')
          input(type='hidden', name='_csrf', value=_csrf)
          h4#update_title_del Update: X
          h6 Tem certeza que deseja deletar o update?
          .row
            .col.s12.m12.l12
              button.modal-action.waves-effect.waves-green.btn.red.left(type='submit', style='margin-left: 5px !important;') Deletar Update
      .modal-footer
        button.modal-action.modal-close.waves-effect.waves-green.btn.blue Cancelar

  #avaliacao_delete.modal.modal-fixed-footer
      .modal-content
        form#delete-avaliacao(action='/avaliacao/_id', method='GET')
          input(type='hidden', name='_csrf', value=_csrf)
          h4#avaliacao_title_del Avaliação: X
          h6 Tem certeza que deseja deletar a avaliação?
          .row
            .col.s12.m12.l12
              button.modal-action.waves-effect.waves-green.btn.red.left(type='submit', style='margin-left: 5px !important;') Deletar Avaliação
      .modal-footer
        button.modal-action.modal-close.waves-effect.waves-green.btn.blue Cancelar

  section#categorias.cadastro
    .container
      .row
        .col.s12.m12.l12
          h2 Categorias
            a.btn-floating.btn-small.waves-effect.waves-light.pink#categ_modal-btn(href='#', style='margin-left: 20px;')
              i.material-icons add


        .col.s12.m12.l12
          table#categ_table.highlight.bordered
            thead
              tr
                th Nome
                th Descricao
                th Acao
            tbody

  section#usuarios.cadastro
    .container
      .row
        .col.s6.m6.l6
          h2 Usuarios
        .col.s12.m12.l12
          | Procurar:
          .input-field.inline
            input#user_busca(type='text')
            label(for='user_busca')
        .col.s12.m12.l12
          table#user_table.highlight.bordered(style='width: 100%;')
            thead
              tr
                th Nome
                th Email
                th Admin
                th Acao
            tbody

  section#servicos.cadastro
    .container
      .row
        .col.s6.m6.l6
          h2 Serviços
        .col.s12.m12.l12
          | Procurar:
          .input-field.inline
            input#servico_busca(type='text')
            label(for='servico_busca')
        .col.s12.m12.l12
          table#servico_table.highlight.bordered(style='width: 100%;')
            thead
              tr
                th Nome
                th Email
                th Telefone
                th Site
                th Proprietario
                th Acao
            tbody
  section#updates.cadastro
    .container
      .row
        .col.s6.m6.l6
          h2 Updates
        .col.s12.m12.l12
          table#update_table.highlight.bordered(style='width: 100%;')
            thead
              tr
                th User
                th Negócio
                th Tipo
                th Acao
            tbody

  section#avaliacoes.cadastro
    .container
      .row
        .col.s6.m6.l6
          h2 Avaliações
        .col.s12.m12.l12
          table#avaliacao_table.highlight.bordered(style='width: 100%;')
            thead
              tr
                th User
                th Negócio
                th Acao
            tbody
        

block scripts
  script(src='//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/1.10.15/js/dataTables.material.min.js')
  script(type='text/javascript').
    $(document).ready(function() {

      var categ_table = $('#categ_table').DataTable({
        ajax: {
          url: '/categorias',
          type: 'GET'
        },
        columns: [
          { data: 'title' },
          { data: 'body' },
          { 
            data: '_id',
            render: function (data, type, full, meta) {
              return '<div class="acao"><a href="#delete/' + meta.row + '" class="btn-floating btn-table red"><i class="material-icons">remove</i></a><a class="btn-floating btn-table yellow black-text categ_edit" href="#edit/' + meta.row + '"><i class="material-icons">mode_edit</i></a></div>'
            },
            sortable: false
          }
        ],
        searching: false, 
        lengthMenu: [5], 
        pageLength: 5
      });

      var user_table = $('#user_table').DataTable({
        ajax: {
          url: '/users',
          type: 'GET'
        },
        columns: [
          { 
            data: 'profile',
            render: function (data, type, full, meta) {
              return data.first_name + ' ' + data.second_name
            },
            sortable: true
          },
          { data: 'email' },
          { 
            data: 'admin',
            render: function (data, type, full, meta) {
              if (data) {
                return 'Admin'
              } else {
                return '<a href="/user/' + full._id + '/makeadmin" class="btn btn-table">Tornar Admin</a>'
              }
            },
            sortable: false
          },
          { 
            data: '_id',
            render: function (data, type, full, meta) {
              return '<div class="acao"><a href="#delete_user/' + meta.row + '" class="btn-floating btn-table red"><i class="material-icons">remove</i></a></div>'
            },
            sortable: false
          }
        ],
        searching: true, 
        lengthMenu: [5], 
        pageLength: 5
      });

      var servico_table = $('#servico_table').DataTable({
        ajax: {
          url: '/servicos',
          type: 'GET'
        },
        columns: [
          { 
            data: 'title',
            render: function (data, type, full, meta) {
              return '<a href="/servico/' + full.urlized + '" target="_blank">' + data +'</a>'
            },
            sortable: true
          },
          { data: 'email' },
          { data: 'telefone' },
          { data: 'site' },
          { 
            data: '_id',
            render: function (data, type, full, meta) {
              if (full.proprietario) {
                return full.proprietario.profile.first_name + ' ' + full.proprietario.profile.second_name
              } else {
                return 'Não Reinvindicado'
              }
            }
          },
          { 
            data: '_id',
            render: function (data, type, full, meta) {
              return '<div class="acao"><a href="#delete_servico/' + meta.row + '" class="btn-floating btn-table red"><i class="material-icons">remove</i></a><a class="btn-floating btn-table yellow black-text categ_edit" href="/servico/' + full.urlized + '/edit"><i class="material-icons">mode_edit</i></a></div>'
            },
            sortable: false
          }
        ],
        searching: true, 
        lengthMenu: [5], 
        pageLength: 5
      });

      var avaliacao_table = $('#avaliacao_table').DataTable({
        ajax: {
          url: '/avaliacoes',
          type: 'GET'
        },
        columns: [
          { 
            data: 'user',
            render: function (data, type, full, meta) {
              if (data) {
                return '<a href="/user/' + data._id + '" target="_blank">' + data.profile.first_name + ' ' + data.profile.second_name +'</a>'
              } else {
                return 'Anônimo'
              }
            },
            sortable: true
          },
          { 
            data: 'servico',
            render: function (data, type, full, meta) {
              if (data) {
                return '<a href="/servico/' + data.urlized + '" target="_blank">' + data.title +'</a>'
              } else {
                return 'Anônimo'
              }
            },
            sortable: true
          },
          { 
            data: '_id',
            render: function (data, type, full, meta) {
              return '<div class="acao"><a href="#delete_avaliacao/' + meta.row + '" class="btn-floating btn-table red"><i class="material-icons">remove</i></a></div>'
            },
            sortable: false
          }
        ],
        searching: true, 
        lengthMenu: [5], 
        pageLength: 5
      });

      var update_table = $('#update_table').DataTable({
        ajax: {
          url: '/updates',
          type: 'GET'
        },
        columns: [
          { 
            data: 'user',
            render: function (data, type, full, meta) {
              if (data) {
                return '<a href="/user/' + data._id + '" target="_blank">' + data.profile.first_name + ' ' + data.profile.second_name +'</a>'
              } else {
                return 'Anônimo'
              }
            },
            sortable: true
          },
          { 
            data: 'servico',
            render: function (data, type, full, meta) {
              console.log(full);
              if (data) {
                return '<a href="/servico/' + data.urlized + '" target="_blank">' + data.title +'</a>'
              } else {
                return 'Anônimo'
              }
            },
            sortable: true
          },
          { data: 'type' },
          { 
            data: '_id',
            render: function (data, type, full, meta) {
              return '<div class="acao"><a href="#delete_update/' + meta.row + '" class="btn-floating btn-table red"><i class="material-icons">remove</i></a></div>'
            },
            sortable: false
          }
        ],
        searching: true, 
        lengthMenu: [5], 
        pageLength: 5
      });

      $('.dataTables_length').parent().parent().css('display', 'none');

      $('#categ_modal-btn').on('click', function(e) {
        e.preventDefault();

        $('#categ_modal').modal('open');
      });

      $('#user_busca').on('keyup', function() {
        user_table.search( this.value ).draw();
      })

      $(window).on('hashchange', function() {
        var hash = location.hash;
        if (hash !== '') {
          if (hash.split('edit/').length > 1) {
            var index = hash.split('edit/')[1]
            var item = categ_table.data()[index]
            $('#categ_title').text('Categoria: ' + item.title)
            $('#categ_nome_edit').val(item.title)
            $('#categ_desc_edit').val(item.body)
            $('#edit-categ').attr('action', '/categoria/' + item._id + '/edit', item.body)
            $('#categ_edit').modal('open');
            location.hash = ''
          } else if (hash.split('delete/').length > 1) {
            var index = hash.split('delete/')[1]
            var item = categ_table.data()[index]
            $('#categ_title_del').text('Categoria: ' + item.title)
            $('#delete-categ').attr('action', '/categoria/' + item._id + '/delete')
            $('#categ_delete').modal('open');
            location.hash = ''
          } else if (hash.split('delete_user/').length > 1) {
            var index = hash.split('delete_user/')[1]
            var item = user_table.data()[index]
            $('#user_title_del').text('User: ' + item.profile.first_name + ' ' + item.profile.second_name)
            $('#delete-user').attr('action', '/user/' + item._id + '/delete')
            $('#user_delete').modal('open');
            location.hash = ''
          } else if (hash.split('delete_servico/').length > 1) {
            var index = hash.split('delete_servico/')[1]
            var item = servico_table.data()[index]
            $('#servico_title_del').text('User: ' + item.title)
            $('#delete-servico').attr('action', '/servico/' + item._id + '/delete')
            $('#servico_delete').modal('open');
            location.hash = ''
          } else if (hash.split('delete_update/').length > 1) {
            var index = hash.split('delete_update/')[1]
            var item = update_table.data()[index]
            $('#update_title_del').text('Update: ' + item._id)
            $('#delete-update').attr('action', '/update/' + item._id + '/delete')
            $('#update_delete').modal('open');
            location.hash = ''
          } else if (hash.split('delete_avaliacao/').length > 1) {
            var index = hash.split('delete_avaliacao/')[1]
            var item = avaliacao_table.data()[index]
            $('#avaliacao_title_del').text('Avaliacao: ' + item._id)
            $('#delete-avaliacao').attr('action', '/avaliacao/' + item._id + '/delete')
            $('#avaliacao_delete').modal('open');
            location.hash = ''
          } else {
            location.hash = ''
          }
        } else {
          console.log('vazio')
        }
      })
    })