extends ../layouts/default

block styles
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css')
  style(type='text/css').
    .fotoProduto .material-placeholder {
      height: 400px;
    }
    .fotoProduto img {
      height: 100%;
      width: auto;
    }
    .fotoProduto a {
      color: white;
      font-weight: 900;
      font-size: 15px;
      text-shadow: 2px 2px 2px black;
    }
    .fotoProduto .left-align a {
      margin-left: 10px;
    }
    .fotoProduto .right-align a {
      margin-right: 10px;
    }

    .fotoProduto .carousel.carousel-slider.center {
      height: 400px !important;
    }

    .fotoProduto span {
      background-color: transparent !important;
    }

    .dadosComercio .collection {
      z-index: -1;
    }

    .carousel-item.active.aberto {
      z-index: 1 !important;
    }
    .image_place img {
      width: 100% !important;
      height: auto;
      border: 5px solid white;
    }
    .carroca img {
      width: calc(50% - 10px) !important;
      height: auto;
      margin: 5px;
      border: 5px solid white;
    }
    .carousel .indicators .indicator-item {
      margin: 40px 4px !important;
    }
    .upload-image {
      top: -32px;
      width: 100%;
      margin: 0;
    }
    .upload-image .btn{
      width: 100%;
      padding: 0 30px;
      margin-left: 0 !important;
      border-top: 1px solid gainsboro;
      border-radius: 0 0 5px 5px;
    }
    .upload-image span{
      font-size: 17px !important;
      margin-top: 0px !important;
      color: #3fa084 !important;
      font-weight: 900 !important;
    }
    .upload-image i.material-icons {
      font-size: 40px !important;
      float: left !important;
      color: #3fa084 !important;
    }
    .character-counter {
      margin: 0 !important;
    }
    img.avatar {
      height: 100%;
      width: auto;
    }
    .avatar-wrapper {
      position: relative !important;
      height: 180px;
      overflow: hidden;
      padding: 0 !important;
      margin-top: 20px;
      border: 0.5rem solid white;
    }
    .avatar-wrapper .file-field.input-field {
      position: absolute;
      bottom: 13px;
      left: 13px;
    }
    .avatar-wrapper .btn {
      margin-left: 0 !important;
      height: 36px !important;
      padding: 0 12px;
      position: relative;
      line-height: 2.5rem !important;
    }
    .avatar-wrapper .material-icons {
      font-size: 1rem;
    }
    .avatar-wrapper input#image-avatar {
      width: 100%;
      height: 36px;
    }
    .avatar-wrapper #avatar-backdrop {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 9999999;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
      display: none;
    }
    .avatar-wrapper.edit #avatar-backdrop {
      display: inherit;
    }
    .avatar-wrapper.edit img.avatar {
      z-index: 99999999999999999999999999999999999999999;
      position: relative;
    }
    .avatar-wrapper.has-avatar .btn {
      opacity: 0;
    }
    .avatar-wrapper.has-avatar:hover .btn {
      opacity: 1;
    }
    .img-edit {
      position: absolute;
      left: 200px;
      height: 150px;
      width: 100%;
      border-radius: 10px;
      z-index: 99999999999999999999999;
      top: 35px;
      padding: 20px;
      background-color: rgb(236, 236, 236);
      display: none;
    }
    .img-edit.edit {
      display: block;
    }
    .img-edit h5 {
      text-align: center;
      color: black;
    }
    .img-edit button.enviar {
      float: right;
    }

    .btnDecoracao {
      min-height: 50px !important;
    }
    .btnDecoracao .file-field {
      margin: 0;
    }
    .btnDecoracao .btn.btnacoes {
      margin-left: 0 !important;
      height: 36px;
      padding: 0 1rem;
      position: relative;
      line-height: 2.4rem;
      width: 100%;
    }
    .btnDecoracao .btn.btnacoes i {
      width: 20px !important;
      font-size: 1.5rem !important;
    }

    #selos-negocio .row {
      margin-bottom: 1.5rem !important;
    }

    #selos-negocio .col {
      padding: .5rem 1.2rem !important;
    }

    #modal-selos {
      max-height: 100%;
    }
    #modal-selos .modal-content {
      padding: 0;
    }
    #modal-selos .container {
      padding: 0 50px;
    }
    #modal-selos p {
      margin: 0;;
    }
    #modal-selos .selo-box {
      padding: .5rem;
      margin: 0 .25rem;
      background: rgba(175, 215, 202, 0.28);
      position: relative;
    }
    #modal-selos .selo-box .img-box {
      padding: 0rem 1.5rem;
    }
    #modal-selos .selo-box p {
      text-align: center;
    }
    #modal-selos .selo-box p a {
      font-size: 10px;
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: white;
      text-align: center;
      letter-spacing: 2px;
      line-height: 11px;
      margin-left: 3px;
      margin-top: 6px;
    }
    #modal-selos .carousel {
      overflow-y: scroll;
    }
    #modal-selos .carousel .carousel-item {
      width: 100% !important;
    }
    #modal-selos .subtipo.chose .collapsible-header {
      background: #3fa084;
      color: white;
    }
    .tabs .indicator {
      background: #c83579 !important;
    }
    .tabs .tab a {
      color: #c83579 !important;
    }
    .tabs .tab a:hover, .tabs .tab a.active {
      color: #c83579 !important;
    }

    #mapa {
      width: 100%;
      height: 250px;
    }

    /* User */
    ul#user_info li:hover {
      background-color: rgba(200, 53, 121, 0.1);
    }
    ul#user_info li {
      cursor: pointer;
    }
    ul#user_info li.active {
      background-color: #c83579;
      color: white;
    }
    ul#user_info li.active i.pink-text.lighten-2 {
      color: white !important;
    }
    .page {
      display: none;
    }
    .page.active {
      display: block;
    }
block content
  section.reinvindicacao
    .container
      .row
        //- .col.s12.breadcrumb
        //-   a(href='#!')
        //-     i.pink-text.material-icons home
        //-   a(href='#!')=servico.title
        //-   i.material-icons navigate_next
        //-   a(href='#!') Fotos e vídeos
        .col.s12.m9.l9
          .row(style='position: relative;')
            .img-edit.z-depth-4
              h5 Arraste a imagem para melhorar o enquadramento.
              .row
                .col.s6.m6.l6
                  button#avatar-enviar.btn.enviar Enviar
                .col.s6.m6.l6
                  button#avatar-cancel.btn.cancelar Cancelar
            - var hasAvatar = '';
            - if (usuario.profile.picture) { hasAvatar = 'has-avatar' }
            .col.s8.m3.l3.offset-s2.avatar-wrapper(style='position: relative;', class=hasAvatar)
              #avatar-wrapper.avatar-wrapper(style='margin-top: 0; border: none; height: 160px;')
                if (usuario.profile.picture)
                  img#avatar.avatar(src=usuario.profile.picture)
                else
                  img#avatar.avatar(src='/img/avatar-default.png')
              #avatar-backdrop
            .col.s9.m9.l9
              .row
                .col.s12.m12.l12
                  h1.subtitles(style='margin-bottom: 0;') #{usuario.profile.first_name.charAt(0).toUpperCase()}#{usuario.profile.first_name.slice(1)} #{usuario.profile.second_name.charAt(0).toUpperCase()}.
                .col.s12.m12.l12
                  h5 Rio de Janeiro - RJ
            
        .col.s12.m3.l3
          .row
            .col.s12.m12.l12(style='text-align: center; padding-top: 20px;')
              a#avaliar.pink.lighten-2.btnreinvindicar(style='margin-bottom:10px;')
                i.material-icons.white-text star_rate
                | Seguir
            .col.s12.m12.l12(style='text-align: center; padding-top: 20px;')
              a#avaliar.pink.lighten-2.btnreinvindicar(style='margin-bottom:10px;')
                i.material-icons.white-text star_rate
                | Enviar mensagem

  .linhapontilhada
  section.comercio
    .container
      .row
        .col.s12.m4.l4
          ul#user_info.collection
            li.collection-item.active(data-action='#avaliacoes')
              i.small.pink-text.lighten-2.left #{avaliacoes.length}
              | Avaliações
            li.collection-item(data-action='#fotos')
              i.small.pink-text.lighten-2.left #{fotos.length}
              | Fotos
            li.collection-item(data-action='#servicos')
              i.small.pink-text.lighten-2.left #{servicos.length}
              | Serviços cadastrados
            li.collection-item(data-action='#pontos')
              i.small.pink-text.lighten-2.left #{pontos.length}
              | Pontos de venda cadastrados
            li.collection-item(data-action='#impacto')
              i.small.pink-text.lighten-2.left #{clipping.length}
              | Avaliação impacto
        #avaliacoes.page.active.col.s12.m8.l8
          h5(style='text-align: center;') Avaliações
          .divider
          each ava in avaliacoes
            // loop resultado
            - var u = ava.servico
            include ../partials/aval.pug

            // fim loop resultado
            if (avaliacoes.lenght > 10)
              section.resultadoBusca
                .container
                  .row
                    .col.s12.m8.l8.ol
                      .vermais2.vejaMais.pink-text.text-lighten-2(data-destino='nexibir')
                        span.palavraUsada
                          i.material-icons keyboard_arrow_down
                          |   Mostrar
                        |  atividades: Rio de Janeiro
                    .col.s12.m4.l4.ol
        #fotos.page.col.s12.m8.l8
          .row
            .col.s6.m4.l4
              each foto, index in fotos
                if (index % 3 === 0)
                  .col.s12.m12.l12(style='margin-top: 20px;')
                    img.responsive-img.materialboxed.z-depth-1(src=foto)
            .col.s6.m4.l4
              each foto, index in fotos
                if (index % 3 === 1)
                  .col.s12.m12.l12(style='margin-top: 20px;')
                    img.responsive-img.materialboxed.z-depth-1(src=foto)
            .col.s6.m4.l4
              each foto, index in fotos
                if (index % 3 === 2)
                  .col.s12.m12.l12(style='margin-top: 20px;')
                    img.responsive-img.materialboxed.z-depth-1(src=foto)
        #servicos.page.col.s12.m8.l8
          .row
            .col.s6.m6.l6
              each up, index in servicos
                if (index % 2 === 0)
                  include ../partials/update
            .col.s6.m6.l6
              each up, index in servicos
                if (index % 2 === 1)
                  include ../partials/update
        #pontos.page.col.s12.m8.l8
          .row
            .col.s6.m6.l6
              each up, index in pontos
                if (index % 2 === 0)
                  include ../partials/update
            .col.s6.m6.l6
              each up, index in pontos
                if (index % 2 === 1)
                  include ../partials/update
        #impacto.page.col.s12.m8.l8
          .row
            .col.s6.m6.l6
              each up, index in clipping
                if (index % 2 === 0)
                  include ../partials/update
            .col.s6.m6.l6
              each up, index in clipping
                if (index % 2 === 1)
                  include ../partials/update
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js')
  script(src='/js/lib/load-image.min.js')
  script(type='text/javascript').
    $('ul#user_info li').on('click', function(e) {
      const id = e.target.dataset.action;
      console.log(id);
      $('.page').removeClass('active');
      $('ul#user_info li').removeClass('active');
      $(this).addClass('active');
      $(id).addClass('active');
    })